data/
.code/
code/**/*.o
code/**/*.elf
articoli/**/*.txt
doc/**/*.pdf
doc/**/*.aux
doc/**/*.log
doc/**/*.bbl
doc/**/*.bib
doc/**/*.blg
doc/**/*.bcf
doc/**/*.toc
doc/**/*.xml
doc/**/*.out

**/*.pdf
**/*.out
**/*.vim
**/*.list
**/*.log
**/*tags
**/*.a
**/*png
**/*vgcore*
